clear{
	clear:both;
}

.yaHei{
	font-family:Microsoft YaHei
}

//home_page
#web_head{
	.head-img{
		float:left; 
		height:110px;
		width:200px;
	}
	.header{
		float:left;
	}
	.firstHeader{
		font-weight:bold;
	}
	.secondHeader{
		font-weight:bold;
		color:#C43235;
	}
}

.carousel-adjust{
	.mr76{
		margin-right:76px;
	}
	.scrollImg{
		float:left;
		width:20%; 
		height:20%;
	}
	.index-carousel-control{
		background-image:none;
	}
}


.mr123{
	margin-right:123px;
}
.realtorList{
	background-color:#989DD0;
	border-color:#989DD0;
	font-weight:bold;
}
.relatedProject{
	background-color:#FFC002;
	border-color:#FFC002;
	font-weight:bold;
}
.moreOptionButton{
	background-color:##BFBFBF;
	border-color:##BFBFBF;	
	font-weight:bold;
}
.searchButton{
	background-color:#C43235;
	border-color:#C43235;
	font-weight:bold;
}




//****************Second Page************/

.web_head{
	background-color:#C43235;
	color:white;
	padding:15px;
	h3{
		float:left;
		margin:0px;
		margin-top:5px;
		margin-left:5px;
	}
	.user_login{
		float:left;
		margin-left:20px;
	}
	.lang{
		a{
			float:right;
			color:white;
			font-weight:bold;
			text-decoration:none;	
			margin-right:10px;
		}

	}
}

.mainBlock{
	#googleMap{
		float:left;
		width:60%;
		height:360px;	
		margin-left:20px;
	}
	.info-box{
		float:left;
		width:100%;
		.realtor_img{
			float:left;
		}
		.houseInfo{
			float:left;
			margin-left:10px;
			color:gray;
		}
	}
	.searchResultCount{
		color:#9A9095;
		margin:15px;
	}
}

.mb{
	margin-bottom:0px;
}

.padLefRight{
	padding-left:0px;
	padding-right:0px;
}

.currentSearch{
	padding:10px;
	color:#9A9095;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.sort{
	background-color:#FFFEC1;
	color:#746051;
	margin-left:20px;
}

.openToday{
	color:#B49C8C;
}



//****************Realtor Info Page************/
.mainBlock{
	ul{
		list-style-type:none;
		.realtorName{
			.linkWidth{
				display:inline-block;
				width:100%;
    			height:100%;
			}
		}
		.dis{
			display:none;
			overflow: auto;
			border: 1px solid black;
			img{
				float:left; 
				height:137px; 
			}
			.disDetails{
				float:left; 
				margin-left:10px;
				h4{
					color:gray;
				}
				.darkBlue{
					color:#155672;
				}
				.soldNumberColor{
					color:#C23439;
				}
				.moreRelatedItemLink{
					color:#C23439; 
					font-size: 20px; 
					font-weight: bold;
				}
			}
		}
	}
}


