
clear {
  clear: both;
}
.yaHei {
  font-family: Microsoft YaHei;
}
#web_head .head-img {
  float: left;
  height: 110px;
  width: 200px;
}
#web_head .header {
  float: left;
}
#web_head .firstHeader {
  font-weight: bold;
}
#web_head .secondHeader {
  font-weight: bold;
  color: #C43235;
}
.carousel-adjust .mr76 {
  margin-right: 76px;
}
.carousel-adjust .scrollImg {
  float: left;
  width: 20%;
  height: 20%;
}
.carousel-adjust .index-carousel-control {
  background-image: none;
}
.mr123 {
  margin-right: 123px;
}
.realtorList {
  background-color: #989DD0;
  border-color: #989DD0;
  font-weight: bold;
}
.relatedProject {
  background-color: #FFC002;
  border-color: #FFC002;
  font-weight: bold;
}
.moreOptionButton {
  background-color: ##BFBFBF;
  border-color: ##BFBFBF;
  font-weight: bold;
}
.searchButton {
  background-color: #C43235;
  border-color: #C43235;
  font-weight: bold;
}
.web_head {
  background-color: #C43235;
  color: white;
  padding: 15px;
}
.web_head h3 {
  float: left;
  margin: 0px;
  margin-top: 5px;
  margin-left: 5px;
}
.web_head .user_login {
  float: left;
  margin-left: 20px;
}
.web_head .lang a {
  float: right;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}
.mainBlock #googleMap {
  float: left;
  width: 60%;
  height: 360px;
  margin-left: 20px;
}
.mainBlock .info-box {
  float: left;
  width: 100%;
}
.mainBlock .info-box .realtor_img {
  float: left;
}
.mainBlock .info-box .houseInfo {
  float: left;
  margin-left: 10px;
  color: gray;
}
.mainBlock .searchResultCount {
  color: #9A9095;
  margin: 15px;
}
.mb {
  margin-bottom: 0px;
}
.padLefRight {
  padding-left: 0px;
  padding-right: 0px;
}
.currentSearch {
  padding: 10px;
  color: #9A9095;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.sort {
  background-color: #FFFEC1;
  color: #746051;
  margin-left: 20px;
}
.openToday {
  color: #B49C8C;
}
.mainBlock ul {
  list-style-type: none;
}
.mainBlock ul .realtorName .linkWidth {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.mainBlock ul .dis {
  display: none;
  overflow: auto;
  border: 1px solid black;
}
.mainBlock ul .dis img {
  float: left;
  height: 137px;
}
.mainBlock ul .dis .disDetails {
  float: left;
  margin-left: 10px;
}
.mainBlock ul .dis .disDetails h4 {
  color: gray;
}
.mainBlock ul .dis .disDetails .darkBlue {
  color: #155672;
}
.mainBlock ul .dis .disDetails .soldNumberColor {
  color: #C23439;
}
.mainBlock ul .dis .disDetails .moreRelatedItemLink {
  color: #C23439;
  font-size: 20px;
  font-weight: bold;
}
